/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f8f6f6;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(moody-fruit-still-life.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form {
    background: #f5f2f2;
    padding: 32px 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

 .atas{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #00ff5e;
    border-radius: 8px;
}

.tombol {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.tombol:hover {
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

footer {
    background-color: #eee;
    text-align: center;
    padding: 10px;
}
.footer_daftar {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}